# Node modules
node_modules/

# Environment variables
.env

# SQLite DB file
*.sqlite3

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Upload temp files
uploads/
tmp/
 
